<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Selamat datang</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- sidebar -->
    <div class="container">
      <div class="sidebar">
        <div class="header">
          <div class="list-item">
            <a href="#">
              <img src="/img/grid.svg" alt="" class="icon" />
              <span class="desc-header">Workshop Studio</span>
            </a>
          </div>
          <div class="illustration">
            <img src="/img/panther.jpg" alt="" />
          </div>
        </div>
        <div class="main">
          <div class="list-item">
            <a href="#">
              <img src="/img/home.svg" alt="" class="icon" />
              <span class="desc">Dashboard</span>
            </a>
          </div>
          <div class="list-item">
            <a href="#">
              <img src="/img/check-circle.svg" alt="" class="icon" />
              <span class="desc">Daily Check</span>
            </a>
          </div>
          <div class="list-item">
            <a href="#">
              <img src="/img/activity.svg" alt="" class="icon" />
              <span class="desc">Service</span>
            </a>
          </div>
          <div class="list-item">
            <a href="#">
              <img src="/img/check-circle.svg" alt="" class="icon" />
              <span class="desc">PAP</span>
            </a>
          </div>
        </div> 
      </div>
    

    <div class="main-content">
    <div id="menu-button">
      <input type="checkbox" id="menu-checkbox">
      <label for="menu-checkbox" id="menu-label">
        <div id="hamburger" id="menu-label">
          <div id="hamburger"></div>
        </div>
      </label>
    </div>
  </div>

    <script src="/script.js"></script>
  </body>
</html>
