.redirect-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*tombol hapus */
.delbut {
  background-color: red;
  color: #fff;
  font-weight: 300;
  border: none;
  border-radius: 5px;
}
