.redirect-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*tombol hapus */
.delbut {
  background-color: red;
  color: #fff;
  font-weight: 300;
  border: none;
  border-radius: 5px;
}

/* tombol submit */
.btnsubmit {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 10px;
  margin-top: 10px;

  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #4caf50; /* Warna latar belakang default */
  color: white; /* Warna teks default */
  border: none;
}

/* Efek hover */
.btnsubmit:hover {
  background-color: #45a049; /* Warna latar belakang saat dihover */
}

/* Efek ketika tombol diklik */
.btnsubmit:active {
  background-color: #3cb1b9; /* Warna latar belakang saat diklik */
}

.front {
  margin-top: 30px;
  margin-left: 10px;
}
